<!-- views/partials/header.ejs -->

<nav>
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="title">#me</li>
            <li><a href="about"><span class="leftnav">ABOUT</span></a></li>
              <span class="dropdown"> 
                <li><a href="feed"><span class="leftnav">FEED</a></span></li>
                <div class="categories">
                    <nav>
                    <ul class="dropdown">
                    <li><a href="funny">FUNNY</a></li>
                    <li><a href="selfie">SELFIE</a></li>
                    <li><a href="nature">NATURE</a></li>
                    <li><a href="animals">ANIMALS</a></li>
                    <li><a href="travel">TRAVEL</a></li>
                    <li><a href="food">FOOD</a></li>
                    <li><a href="technology">TECHNOLOGY</a></li>
                    <li><a href="politics">POLITICS</a></li>
                    <li><a href="news">NEWS</a></li>
                    </ul>
                    </nav>
            </div>
            </span>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <a href="upload"
                <button type="button" class="btn btn-default btn-m" >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                </button> 
            </a>
            <a href="profile"
                <button type="button" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                </button>  
            </a>
            <a href="logout"
                <button type="button" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-off" aria-hidden="true" ></span>
                </button> 
            </a>
        </ul>
        
    </div>
</nav>