<nav>
    <div class="container-fluid">
    <ul class="nav navbar-nav">
                <li class="title">#me</li>
                <li><a href="/">HOME</a></li>
                <li><a href="about">ABOUT</a></li>
        </ul>
    </div>
</nav> 