<!-- views/partials/header.ejs -->

<nav>
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="title">#me</li>
            <li><a href="about"><span class="leftnav">ABOUT</span></a></li>
            <li><a href="feed"><span class="leftnav">FEED</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default btn-m">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
            </button> 
            <button type="button" class="btn btn-default btn-m">
                <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
            </button>  
            <button type="button" class="btn btn-default btn-m">
                <a href="/"><span class="glyphicon glyphicon-off" aria-hidden="true" ></span></a>
            </button> 
            <a href="upload"
                <button type="button" class="btn btn-default btn-m" >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                </button> 
            </a>
            <a href="user"
                <button type="button" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                </button>  
            </a>
            <a href="logout"
                <button type="button" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-off" aria-hidden="true" ></span>
                </button> 
            </a>
        </ul>
      
    </div>
</nav>