<!-- views/partials/header.ejs -->

<nav>
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="title">#me</li>
            <li><a href="about">About</a></li>
            <li><a href="feed">Feed</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <a href="upload"
                <button type="button" class="btn btn-default btn-m" >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                </button> 
            </a>
            <a href="user"
                <button type="button" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                </button>  
            </a>
            <a href="logout"
                <button type="button" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-off" aria-hidden="true" ></span>
                </button> 
            </a>
        </ul>
      
    </div>
</nav>