@font-face{
    font-family: "milkshake";
    src: url("fonts/Milkshake/Milkshake.ttf") format("truetype"),
        url("fonts/Milkshake/Milkshake.otf") format("opentype");
}

body {
    background-image: url("../img/background.jpg");
    font-family: verdana,monospace;
}

nav {
    background-color: black;
    width: 100%;
}

ul{
    list-style-type:none;
    text-align: right;
    color: lightgrey;
}


li.title{
    color: lightgrey;
    font-family: "milkshake";
    font-size: 32px;
    text-align: left;
}

p{
    font-size: 15px;
    text-align: center;
    color:black;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

img{
    width:500px;
    display:block;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
}

