header {
         background:#000000;
         height:200px;
}

h1 {
         font-family:Tahoma;
		 font-variant:small-caps;
         font-size: 25pt;
		 margin-right: 25px;
		 float:right;
		color:#ffffe0;
		margin-top:120px;
}

h2 {
         font-family:Tahoma;
		 font-variant:small-caps;
         font-size: 20pt;
         color:#000000;
         text-align: center;
         margin-top:150px;
         margin-bottom:0px;
         margin-right:25px;
}

body {
        padding:0px;
        margin:0px;
        font-family:Verdana, Helvetica, sans-serif;
        font-size:100%;
}

#container {
        width:1100px;
        margin:0 auto;
        padding: 0 auto;
        background-color:#FFFFFF;
}

#mainnav {
         float:left;
        width:200px;
		height: 500px;
        display:inline-block;
		background-color:#000000;
         margin-top:20px;
         margin-bottom:50 px;

}

#mainnav ul {
        list-style-type:none;
        font-family:Tahoma;
		font-variant:small-caps;
        font-size:200%;
}

#mainnav ul li {
         margin-bottom: 20px;
}

#mainnav ul li a{
         color:#FFFFFF;
         text-decoration:none;
}

#mainnav ul li a:hover {
         color: #ffffe0;
}


main {
        width:855px;
		height:460px;
        float:right;
        padding:10px;
        margin-bottom:50px;
        background-color: #ffffff;
        margin-top:20px;
		padding-bottom:30px;
		background:url('bilder/post-it.png')no-repeat center center;
		border-color:#000000;
}


.shadow {
        box-shadow:black 0em 0em 0.5em;
}
div#footer	{
	position:absolut;	
	margin-top:2px;

	width:auto;
	height:auto;
}
#footer_container {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color:#000;
	height:3em;
}

p{
	text-align:left;
	text-indent:25em;
    bottom:0;
	color:#fff;
}
#footer_impressum	{
	position:absolute;
	top:0px;
	left:1400px;
}