header {
         background:#000000;
         height:200px;
}

h1 {
         font-family:Tahoma;
		 font-variant:small-caps;
         font-size: 25pt;
		 margin-right: 25px;
		 float:right;
		color:#ffffe0;
		margin-top:120px;
}
