<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>
<body class="container">

    

    <main>  
                <div class="feed">
                <header>
        <% include ../partials/header %>
    </header>
                    <h1>Project #me</h1>
                    <p>The idea came up because we had problems coming up with funny and smart hashtags for our posts.
                    We wanted to make a community where everyone can be creative.
                    <p>So if you need help to find hashtag options just upload your picture or text and let the other users comment!</p>
                    <p>We hope you're having fun and let the hashtagging begin!</p>
                    <p>Anne, Nicole and Olga</p>

                </div>
    </main>
</body>
</html>