<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../css/main.css"/>
    </head>
    <body class="container">
        <% include ../partials/header_public %>
        <p class="kursiv">Ooops something went wrong...</p>
    </body>
</html>