<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>  
        <div class=feed>
            <% posts.forEach(function (post) { %>            
                <% if (post.textentry) { %>
                    <p><%= post.textentry.text %></p>
                <% } else if (post.photo) { %>
                     <img src="uploads/<%= post.photo.filename %>"/>
                    
                <% } else {
                    // console.log("Undefinded post");
                }%>
                <p><%= post.hashtagList %></p>
                <form action="/feed"
                    method="POST"
                    enctype="multipart/form-data">
                <label for="hashtag">#
                    <input id="hashtag" type="text" name="hashtag"/>
                    <input id="postid" type="hidden" name="postid" value="<%= post._id %>" />
                </label>
                </form>                   
            <% }) %> 
        </div>  
    </main>
</body>
</html>