<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>  
        <div class="feed">
            <figure>
                <img src="img/test.png"/>
            </figure>
            <form>
            <label>#
                <input type="text" name="textfeld"/>
            </label>
            </form>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <form>
            <label>#
                <input type="text" name="textfeld"/>
            </label>
            </form>
             <figure>
                <img src="img/test1.png"/>
            </figure>
            <form>
            <label>#
                <input type="text" name="textfeld"/>
            </label>
            </form>
        </div>
    </main>
    
</body>
</html>