<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>  
        <div class=feed>
            <% posts.forEach(function (post) { %>            
                <% if (post.textentry) { %>
                    <p><%= post.textentry.text %></p>
                <% } else if (post.photo) { %>
                    <img class="img-rounded img-responsive" style="padding:0;margin:2% 0" src="uploads/<%= post.photo.filename %>">
                <% } else {
                    // console.log("Undefinded post");
                }%>                    
            <% }) %> 
        </div>  
    </main>
</body>
</html>