<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>  
        <div class="feed">
            <% posts.forEach(function(post){ %>
                <img src="uploads/<%= post.filename %>">
            <% }) %>
        </div>
    </main>
</body>
</html>