<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/main.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
</head>
<body class="container">

   <ul class="nav navbar-nav">
            <li class="title">#me</li>
            <li><a href="about">About</a></li>
            <li><a href="feed">Feed</a></li>
    </ul>
   
    <div class="login">
            <p>JOIN THE COMMUNITY<br>
            <span class="kursiv">today</span><br>
            AND GET INSPIRED.</p>
            <a href="/auth/loginFa" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> <br>
            <a href="/auth/registryGo" class="btn btn-primary"><span class="fa fa-google-plus"></span> Google+</a>
   </div>
</body>
</html> 