<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="de">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
   
    <div class="login container">
        <h1><span class="fa fa-lock"></span>#me</h1>
        <p>Login</p>
        <a href="/auth/loginFa" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <p>Du hast ein Konto? Melde dich an</p>
        <a href="/auth/registryfa" class="btn btn-primary">Registrieren</a>

   </div>
</body>
</html> 