<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="de">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>#me</h1>
            <p>Lade deine Bilder hoch und wir helfen dir passende Hashtags zu finden</p>
        </div>
    </main>

    <ul class="upload upload-right">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-camera" aria-hidden="true" ></span>
        </button>    
    </ul>
    
</body>
</html>