<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="de">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
   
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Login #me</h1>
        <p>Login oder registrieren in:</p>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

   </div>
</body>
</html> 