<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/main.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
</head>
<body class="container">
    <% include ../partials/header_public %>
    <div class="login">
            <p>JOIN THE COMMUNITY<br>
            <span class="kursiv">today</span><br>
            AND GET INSPIRED.</p>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> <br>
   </div>
</body>
</html> 