<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>  

    <form action="/upload"
        method="POST"
        enctype="multipart/form-data">
        <input name="photo" type="file">
        <button type="submit">Upload</button>
    </form>

</body>
</html>