<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>  

    <form id = "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/feed"
        method    =  "post">
        <input type="file" name="userImage" />
        <input type="submit" value="upload Image" name="submit">
    </form>

    <div>
    <form action="/feed" method="POST">
        <div class="form-group row">
            <div class="col-xs-10">
                <textarea name="textinput" type="text" placeholder="Enter entry text"></textarea>
            </div>
            <div class="col-xs-2">
                <button stype="submit" class="btn btn-default btn-m">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
    </div>

</body>
</html>