<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>  

    <form action    =  "/upload"
        method    =  "POST"
        enctype = "mulitpart/form-data">
        <input type="file" name="photo">
        <input type="submit" value="Upload">
    </form>

</body>
</html>