<!-- views/pages/feed.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>  

    
    <form action="/uploadFile"
        method="POST"
        enctype="multipart/form-data">
        <input name="photo" type="file">
        <button type="submit">Upload</button>
    </form>

    <div>
    <form action="/uploadText" 
        method="POST">
        <div class="form-group row">
            <div class="col-xs-10">
                <textarea name="textinput" type="text" placeholder="Enter entry text"></textarea>
                <button type="submit">Upload</button>
            </div>
        </div>
    </form>
    </div>

</body>
</html>